@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  background-color: antiquewhite;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.swiper-pagination-bullet {
  margin: 0 3% !important;
  width: 20% !important;
  height: 3px !important;
  border-radius: 0 !important;
  opacity: 1 !important;
  background-color: #c4c4c44d !important;
}
.swiper-pagination-bullet-active {
  background-color: #74e6b7 !important;
}
